# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/vc2013/Debug/DashObj.obj
/vc2013/Debug/f7_dash.exe
/vc2013/Debug/f7_dash.ilk
/vc2013/Debug/f7_dash.log
/vc2013/Debug/f7_dash.pdb
/vc2013/Debug/f7_dash.tlog/cl.command.1.tlog
/vc2013/Debug/f7_dash.tlog/CL.read.1.tlog
/vc2013/Debug/f7_dash.tlog/CL.write.1.tlog
/vc2013/Debug/f7_dash.tlog/link.command.1.tlog
/vc2013/Debug/f7_dash.tlog/link.read.1.tlog
/vc2013/Debug/f7_dash.tlog/link.write.1.tlog
/vc2013/Debug/f7_dashApp.obj
/vc2013/Debug/vc120.idb
/vc2013/Debug/vc120.pdb
/vc2013/f7_dash.opensdf
/vc2013/f7_dash.sdf
/vc2013/f7_dash.v12.suo
/vc2013/f7_dash.vcxproj.filters
